.entry-container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 1em;
  }
  
  .technology {
    padding: 20px;
  }
  
  .level {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-width: 400px;
  }
  