.entry-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.start-and-end-date {
  padding: 20px;
  border-right: 1px solid black;
}

.entry-role {
}

.entry-description {
}

.entry-technologies {
  display: flex;
  justify-content: space-evenly;
}

.entry-facts{
  padding: 20px;
  
}
